body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #45B5FF;
}

.fillCircle{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: solid 3px white;
	background-color: #19B37D;
	margin: 0 auto;
	color: white;
	position: relative;
}
h4{
	font-size: 30px;
}
h5{
	font-size: 30px;
	font-weight: bolder;
}
#sessionTime, #breakTime{
	letter-spacing: 1px;/*keeping the numbers closer together*/
}

.timerText {
	margin-top: 30px;
}
#sessionPlus:hover, #sessionMinus:hover, #breakPlus:hover, #breakMinus:hover{
	cursor: pointer;
}

.btn{
	background-color: #3C9DDE;
	border: solid 2px white;
	color: white;
	cursor: pointer;
}
.btn:hover{
	background-color: #3282B8;
	border: solid 2px white;
	color:white;
}

.red{
	background-color: #B3194F;
}
#command{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

