body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #45B5FF;
}

.fillCircle{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: solid 3px white;
	background-color: #19B37D;
	margin: 0 auto;
	color: white;
	z-index: -1;
	position: relative;
}
h4{
	font-size: 30px;
}
h5{
	font-size: 30px;
	font-weight: bolder;
}
#sessionTime, #breakTime{
	letter-spacing: 1px;/*keeping the numbers closer together*/
}

.timerText {
	margin-top: 50px;
}
#sessionPlus:hover, #sessionMinus:hover, #breakPlus:hover, #breakMinus:hover {
	cursor: pointer;
}

.slow-spin {
  -webkit-animation: fa-spin 3.2s infinite linear;
  animation: fa-spin 3.2s infinite linear;
}

.btn{
	background-color: #3C9DDE;
	border: solid 2px white;
	color: white;
}